<div class="toolbox">
    <div class="form-inline">
        <a ui-sref="manager"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
    </div>
</div>
<section>
    <section class="col-sm-6 login-side-info">
        <h2 class="color-theme font-bold-600">
            Register a Company!
        </h2>
        <h3 class="font-bold-600">Create a new account for Consignees, Freight Forwarders, or a Transitors.</h3>
    </section>
    <section class="login-box">
        <dir-create-company></dir-create-company>
    </section>
</section>