<section class="row text-center">
    <div class="col-md-12 login-side-info-always color-theme">
        <h1 class="heading-display">Administer CargoCanal</h1>
        <h3>Power to do more!</h3>
        <h4>Create and edit accounts for freight forwarders, consignees.</h4>
        <h4>Subscribe accounts to services and renew expired services.</h4>
        <h4>Manage application configuration and data.</h4>
    </div>

    <a ui-sref="manager" class="btn btn-lg btn-primary text-uppercase margin-top-30">Start Manager</a>

</section>