<article class="color-theme margin-top-50">
    <h2 class="font-bold-600 margin-bottom-30">CargoCanal Privacy Policy</h2>
    <p>
        Welcome to CargoCanal! When you use CargoCanal services, you trust us with your information. This Privacy Policy is meant to help you understand
        what data we collect and what we do with it. We hope you would take time to read it carefully.
    </p>

    <h3 class="font-bold-600 margin-top-50 margin-bottom-30">Privacy Policy</h3>
    <h5 class="margin-bottom-30">Last updated: August 01, 2017</h5>
    <p>
        CargoCanal is a cloud service in the field of international Freight Forwarding operated by Addis Ababa Advanced
        Information Technology PLC's (AAAIT) development team (<a href="//appliedline.com" target="_blank">Appliedline</a>).
    </p>
    <p>
        Use of the Services is subject to CargoCanal's <a ui-sref="termsofservice">Terms of Service</a> and the
        Subscription Agreement (if Services are purchased) and this Privacy Policy
        should be read in conjunction with the above. In the event of a conflict or disagreement
        between this Privacy Policy and the Terms of Service and the Subscription Agreement,
        the Terms of Service and the Subscription Agreement, as the case may be, will prevail.
    </p>
    <p>
        When you request additional information or register to the CargoCanal web site,
        you will be asked to provide basic contact information.
    </p>
    <p>
        When you purchase CargoCanal services (“Services”), you will be asked to provide billing information.
        CargoCanal uses the information collected to provide you with the services you request.
    </p>
    <p>
        CargoCanal may use information collected to provide you with additional information
        about the Company's Services, partners, promotions, and events. CargoCanal may use information collected to
        improve the Company's web sites and Services.
    </p>
    <p>
        CargoCanal does not share, sell, rent, or trade personally identifiable information with
        third parties for their promotional purposes. CargoCanal may share information collected with other companies
        that work on CargoCanal's behalf.
    </p>
    <p>Similar to other commercial web sites, we may collect information about user response to advertisements and promotions.</p>
    <p>
        CargoCanal uses common Internet technologies, such as cookies, local storage, session storage and web beacons,
        to keep track of interactions with the Company's web sites and emails.
        A cookie does not identify you personally or contain any other information about you or your organization,
        but it does identify your computer. You can set your browser to notify you when you receive a cookie and this will
        provide you with an opportunity to either accept or reject it in each instance.
    </p>

    <h3 class="font-bold-600 margin-top-50 margin-bottom-30">Customer Data</h3>
    <p>
        CargoCanal is a cloud service that stores operational and financial information about a company or
        individual (“Organization”) as provided or entered by that company or individual. The data entered, or imported
        by you remains your property and CargoCanal will not use nor make available for use any of this information without
        your permission.
    </p>
    <p>
        The data entered or imported by you is stored securely in a database and is only accessible to any person you
        have authorized to use the Services. It is your responsibility to keep your password safe. CargoCanal,
        CargoCanal's staff and CargoCanal's partners do not have access to your password and are therefore unable to
        access your Organization's account or data without receiving a specific invitation to do so from you.
    </p>
    <p>
        CargoCanal will not review, share, distribute, or reference any of the data entered and stored in the Services
        except if required by law. In accordance with the CargoCanal terms of service, CargoCanal staff may access
        customer data only for the purposes of providing the Services, and preventing or addressing service or
        technical problems, at the customer's request in connection to customer support matters, or as may be required by law.
    </p>
    <p>
        CargoCanal staff and key commercial partners can access non-identifying and aggregated usage information and
        transaction volumes in order to better understand how customers are using the Services, in order to improve the
        system design and where appropriate have the system prompt users with suggestions on ways to improve
        their own use of the system or service. All aggregated usage information is stored in a secure
        CargoCanal data warehouse facility.
    </p>
    <p>
        Provided you have met your obligations under CargoCanal's Terms of Service, on request, CargoCanal will provide you
        with a full export of the data in a common file format determined by CargoCanal. Access to the data may be
        permanently deleted by CargoCanal 30 days after you cease payment for the Services or at your request.
    </p>
    <p>
        CargoCanal stores your data in the location CargoCanal considers will give you the most efficient access from wherever
        in the world you may be. When you access or input data from somewhere other than the country where the data is stored
        or to be stored, you consent to that data being transferred from one country to the other
        (including via any intermediate country) as a function of transmission across the internet.
    </p>
    <p>
        CargoCanal has SSL certificates issued by leading certificate authorities, so all data transferred between users and
        the Service is encrypted. Your browser must support the encryption security used in connection with the Services.
    </p>

    <h3 class="font-bold-600 margin-top-50 margin-bottom-30">Miscellaneous</h3>
    <p>
        The Services are based on Google AngularJS, Microsoft ASP .NET WebAPI and OData, which are powerful tools for creating and
        delivering rich Internet applications. AngularJS is an open source HTML5 framework that enables fast and rich business
        applications and mobile apps. It works on all major OS' plus all major browsers, including Firefox, Google Chrome, Safari
        and Edge.
    </p>
    <p>
        ASP.NET WebAPI is a framework that allows building RESTful APIs that can be consumed over http by a broad range of computing devices.
        And it works great with OData open protocol to allow consumption of queryable and interoperable RESTful APIs in a simple and
        standard way.
    </p>
    <p>
        Learn more: <a href="https://angularjs.org/" target="_blank">AngularJS</a>,
        <a href="https://www.asp.net/web-api" target="_blank">ASP.NET Web API</a> and
        <a href="http://www.odata.org/" target="_blank">OData</a>
    </p>
    <p>
        CargoCanal sends billing information, product information, Services updates and Services notifications to you via email.
        Where appropriate, email communication will contain clear instructions describing how you can opt to be
        removed from the mailing list. CargoCanal will remove you upon such request.
    </p>
    <p>
        The Services may contain links enabling the electronic transfer of data with third-party applications.
        CargoCanal takes no responsibility for the privacy practices or content of these applications.
    </p>
    <p class="margin-bottom-30">
        CargoCanal reserves the right to change this policy at any time, and any amended policy is effective upon its
        posting on this web site. CargoCanal will make every effort to communicate these changes to you via email or
        notification via the web site.
    </p>
</article>
<hr />
<h2 class="margin-top-50 margin-bottom-150">
    We keep your personal information private and safe.
</h2>