<section class="row">
    <div class="col-md-12 login-side-info-always color-theme padding-top-0 margin-bottom-30">
        <div class="col-md-6">
            <h1 class="heading-display">
                The future of freight forwarding.
            </h1>
            <h3>
                Connecting maritime, freight forwarders, consignees, with other stakeholders in the freight forwarding industry.
            </h3>
        </div>
        <div class="col-md-6 overflow-hidden">
            <img alt="" class="cc-feature-banner" src="src/assets/images/cargocanal-feature-graphic-web.png" />
        </div>
    </div>
</section>
<section class="row text-center padding-20 hidden-xs">
    <div class="col-sm-6">
        <h1 class="color-theme">7500+</h1>
        <h1 class="text-uppercase font-bold-600">ports</h1>
    </div>
    <div class="col-sm-6">
        <h1 class="color-theme">130+</h1>
        <h1 class="text-uppercase font-bold-600">carriers</h1>
    </div>
</section>
<section class="row text-center">
    <p>Download the app.</p>
    <a title="Play Store" class="common-sprite google-play-badge-h60" href="https://play.google.com/store/apps/details?id=com.appliedline.cargocanal" target="_blank" rel="noopener"></a>
    <a title="App Store" class="common-sprite app_store_badge_US_h60" href="https://itunes.apple.com/us/app/cargocanal/id1376561611" target="_blank" rel="noopener"></a>
</section>


<section class="row margin-0 comment-wr">
    <div class="col-sm-6">
        <img alt="" class="img-responsive" src="src/assets/images/comment_maxi.png" />
    </div>
    <div class="col-sm-6">
        <h1 class="heading-display color-theme">Comment</h1>
        <h2>Keep everyone in the know by providing feedbacks on shipments. Now, no one needs to bug you on the phone.</h2>
    </div>
</section>



<hr />
<section class="row margin-bottom-30">
    <article class="col-xs-12 col-md-4">
        <h3 class="heading-article">Lightweight</h3>
        <h4>Beautifully designed interface and engineered for low internet connections.</h4>
    </article>

    <article class="col-xs-12 col-md-4">
        <h3 class="heading-article">Insights</h3>
        <h4>
            See how your shipments are doing right from the dashboard.
            <br />
            For example, find out accumulated demurrage.
        </h4>
    </article>

    <article class="col-xs-12 col-md-4">
        <h3 class="heading-article">Service</h3>
        <h4>
            View active subscriptions, renew or add subscriptions and enjoy the benefits of CargoCanal within your organization.
        </h4>
    </article>
</section>