<section>
    <div class="row margin-0 margin-bottom-15">
        <div class="col-xs-6 col-md-auto">
            <select id="select" class="select-custom text-uppercase" ng-model="selectedActivity">
                <option class="text-uppercase" value="">{{'select activity'}}</option>
                <option class="text-uppercase" ng-repeat="activity in activitylist" value="{{activity.id}}">{{activity.name}}</option>
            </select>
        </div>
        <button class="select-custom" ng-click="goToState(selectedActivity)">GO</button>
    </div>
</section>
