<section>
    <div class="input-group col-sm-6">
        <select class="custom-select text-uppercase" ng-model="selectedActivity">
            <option class="text-uppercase" value="">{{'select activity'}}</option>
            <option class="text-uppercase" ng-repeat="activity in activitylist" value="{{activity.id}}"> {{activity.name}}</option>
        </select>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" style="background-color: #57428c;color:white;" type="button" ng-click="goToState(selectedActivity)">Go</button>
        </div>
    </div>
</section>