<div id="status-buttons-mob" class="mob-only text-center">
    <button class="button-left" type="button" ui-sref="register.profile"><span class="fa fa-chevron-circle-left"></span></button>
    <button class="button-right button-disabled" type="button">
        <span class="fa fa-chevron-circle-right"></span>
    </button>
</div>
<div class="form-group">
    <label class="control-label" for="CompanyName" data-i18n="_CompanyName_"></label>
    <input type="text" class="form-control" id="CompanyName" ng-model="formData.Company.CompanyName" />
</div>
<div class="form-group">
    <label class="control-label" for="CompanyTypeID" data-i18n="_CompanyType_"></label>
    <select name="CompanyTypeID" class="form-control" ng-model="formData.Company.CompanyTypeID">
        <option ng-repeat="companyType in valuesData.CompanyTypes" value="{{companyType.ID}}">
            {{ companyType.Name }}
        </option>
    </select>
</div>
<div class="form-group">
    <label class="control-label" for="TIN">TIN</label>
    <input type="text" class="form-control" name="TIN" ng-model="formData.Company.TIN" />
</div>


<button type="button" class="btn btn-block"
        ng-click="showMoreCompanyDetails()" data-i18n="{{companyMoreDetailsButtonLabel}}">
</button>

<div ng-show="flgShowMoreCompanyDetails">
    <div class="form-group">
        <label class="control-label" for="Address" data-i18n="_Address_"></label>
        <input type="text" class="form-control" name="Address" ng-model="formData.Company.Address" />
    </div>
    <div class="form-group">
        <label class="control-label" for="TownCity" data-i18n="_TownCity_"></label>
        <input type="text" class="form-control" name="TownCity" ng-model="formData.Company.TownCity" />
    </div>
    <div class="form-group">
        <label class="control-label" for="State" data-i18n="_State_"></label>
        <input type="text" class="form-control" name="State" ng-model="formData.Company.State" />
    </div>
    <div class="form-group">
        <label class="control-label" for="POBox" data-i18n="_POBox_"></label>
        <input type="text" class="form-control" name="POBox" ng-model="formData.Company.POBox" />
    </div>
    <div class="form-group">
        <label class="control-label" for="Wereda">Wereda</label>
        <input type="text" class="form-control" name="Wereda" ng-model="formData.Company.Wereda" />
    </div>
    <div class="form-group">
        <label class="control-label" for="KefleKetema">Kefle Ketema</label>
        <input type="text" class="form-control" name="KefleKetema" ng-model="formData.Company.KefleKetema" />
    </div>
    <div class="form-group">
        <label class="control-label" for="Kebele">Kebele</label>
        <input type="text" class="form-control" name="Kebele" ng-model="formData.Company.Kebele" />
    </div>
    <div class="form-group">
        <label class="control-label" for="HouseNo" data-i18n="_HouseNo_"></label>
        <input type="text" class="form-control" name="HouseNo" ng-model="formData.Company.HouseNo" />
    </div>
    <div class="form-group">
        <label class="control-label" for="CountryID" data-i18n="_Country_"></label>
        <select name="Country" class="form-control" ng-model="formData.Company.Country">
            <option ng-repeat="country in valuesData.Countries" value="{{country.Name}}">
                {{ country.Name }}
            </option>
        </select>
    </div>
    <div class="form-group">
        <label class="control-label" for="Telephone" data-i18n="_Phone_"></label>
        <input type="text" class="form-control" name="Telephone" ng-model="formData.Company.Telephone" />
    </div>
    <div class="form-group">
        <label class="control-label" for="ContactName" data-i18n="_ContactName_"></label>
        <input type="text" class="form-control" name="ContactName" ng-model="formData.Company.ContactName" />
    </div>
    <div class="form-group">
        <label class="control-label" for="ContactMobile" data-i18n="_ContactMobile_"></label>
        <input type="text" class="form-control" name="ContactMobile" ng-model="formData.Company.ContactMobile" />
    </div>
    <div class="form-group">
        <label class="control-label" for="Email" data-i18n="_Email_"></label>
        <input type="text" class="form-control" name="Email" ng-model="formData.Company.Email" />
    </div>
    <div class="form-group">
        <label class="control-label" for="Website" data-i18n="_Website_"></label>
        <input type="text" class="form-control" name="Website" ng-model="formData.Company.Website" />
    </div>
    <div class="form-group">
        <label class="control-label" for="LicenseNumber" data-i18n="_LicenseNumber_"></label>
        <input type="text" class="form-control" name="LicenseNumber" ng-model="formData.Company.LicenseNumber" />
    </div>
    <div class="form-group">
        <label class="control-label" for="LicenseUnder" data-i18n="_LicenseUnder_"></label>
        <input type="text" class="form-control" name="LicenseUnder" ng-model="formData.Company.LicenseUnder" />
    </div>
    <div class="form-group">
        <label class="control-label" for="LastRenewedDate" data-i18n="_LastRenewedDate_"></label>
        <input type="text" class="form-control" name="LastRenewedDate" ng-model="formData.Company.LastRenewedDate" />
    </div>
    <div class="form-group">
        <label class="control-label" for="LicenseIssuedDate" data-i18n="_LicenseIssuedDate_"></label>
        <input type="text" class="form-control" name="LicenseIssuedDate" ng-model="formData.Company.LicenseIssuedDate" />
    </div>
</div>

<div class="text-center">
    <div ng-show="flgProcessing"><h3 data-i18n="_CompletingRegistration_"></h3></div>
    <button type="submit" class="btn btn-primary btn-lg"
            ng-disabled="!((formData.Company.TIN != undefined && formData.Company.TIN != '') 
                && (formData.Company.CompanyName != undefined && formData.Company.CompanyName != '')
                && (formData.Company.CompanyTypeID != undefined && formData.Company.CompanyTypeID != '')) 
                || flgProcessing" data-i18n="_Register_">
    </button>
</div>


<div class="fullscreen-hid" id="register-success">
    <div class="col-md-6 col-md-offset-3">
        <div id="form-container">
            <div class="page-header text-center">
                <h2 data-i18n="_RegSuccess_"></h2>
            </div>
            <div class="text-center bg-color-white">
                <article class="col-xs-12 margin-bottom-15">
                    <p class="margin-top-15">
                        <span data-i18n="_RegSuccessMessage_"></span>
                        <br />
                        <span data-i18n="_ClickLoginButton_"></span>
                    </p>
                </article>
                <button type="button" class="btn btn-primary btn-lg" ui-sref="login" data-i18n="_Login_"></button>
                <br />
                <br />
            </div>
        </div>
    </div>
</div>
