<div ui-view>
    <div class="toolbox">
        <div class="form-inline">
            <form class="form-group" ng-submit="searchMultiModal(true)">
                <div class="control-group">
                    <input class="control-group-textbox" type="search" placeholder="Search" ng-model="searchText" />
                    <i class="control-group-button" ng-click="searchMultiModal(true)"><span class="oi oi-magnifying-glass"></span></i>
                </div>
            </form>
            <a ui-sref="multimodal.create" ng-click="initMultiModal()"><span class="oi oi-plus"></span> Add Multi Modal</a>
            <a href="" ng-click="refresh()"><span class="oi oi-reload"></span> Refresh</a>
        </div>
    </div>
    <dir-multi-modal></dir-multi-modal> <!--create in directive-->
</div>