<div class="form-group">
    <label for="ReferenceNo" data-i18n="_ReferenceNo_"></label>
    <input type="text" class="form-control" id="ReferenceNo" ng-model="formData.ImportExport.ReferenceNo" />
</div>
<div class="form-group">
    <label for="ddlYear" data-i18n="_DateInitiated_"></label>
    <input type="text" class="form-control" id="DateInitiated" ng-model="formData.ImportExport.DateInitiated" />
    <!--<div class="form-inline">
        <select id="ddlYear" class="form-control" ng-model="di.Year">
            <option value="">Year</option>
        </select>
        <select id="ddlMonth" class="form-control" ng-model="di.Month">
            <option value="">Month</option>
        </select>
        <select id="ddlDay" class="form-control" ng-model="di.Day">
            <option value="">Day</option>
        </select>
    </div>-->

    <!--<script>
        var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
        var year = new Date().getFullYear() - 1;

        $('#ddlYear').empty();
        $('#ddlYear2').empty();
        $('#ddlMonth').empty();
        $('#ddlMonth2').empty();
        $('#ddlDay').empty();

        $('#ddlDay2').empty();
        for (var i = 0; i < 11; i++) {
            $('#ddlYear').append(new Option((year + i), (year + i)));
            $('#ddlYear2').append(new Option((year + i), (year + i)));
        }

        for (var i = 0; i < 12; i++) {
            $('#ddlMonth').append(new Option(months[i], i + 1));
            $('#ddlMonth2').append(new Option(months[i], i + 1));
        }

        for (var i = 1; i <= 31; i++) {
            $('#ddlDay').append(new Option(i, i));
            $('#ddlDay2').append(new Option(i, i));
        }

    </script>-->
</div>
<div class="form-group">
    <label for="ImportExportReasonID" data-i18n="_TypeOfImport_"></label>
    <select id="ImportExportReasonID" class="form-control" ng-model="formData.ImportExport.ImportExportReasonID">
        <option ng-repeat="importReason in valuesData.ImportExportReasons" value="{{importReason.ID}}">
            {{ importReason.Reason }}
        </option>
    </select>
</div>
<div class="form-group">
    <label for="ModeOfTransportID" data-i18n="_ModeOfTransport_"></label>
    <select id="ModeOfTransportID" class="form-control" ng-model="formData.ImportExport.ModeOfTransportID" ng-change="formData.ImportExport.loadCarrier()">
        <option ng-repeat="modeOfTransport in valuesData.ModeOfTransports" value="{{modeOfTransport.ID}}">
            {{ modeOfTransport.Mode }}
        </option>
    </select>
</div>
<div class="form-group">
    <label for="BillOfLading" data-i18n="_BillOfLading_"></label>
    <input type="text" class="form-control" id="BillOfLading" ng-model="formData.ImportExport.BillOfLading" />
</div>
<div class="form-group">
    <label for="ddlYear2" data-i18n="_LoadingDate_"></label>
    <input type="text" class="form-control" id="BillOfLadingDate" ng-model="formData.ImportExport.BillOfLadingDate" />
    <!--<div class="form-inline">
        <select id="ddlYear2" class="form-control" ng-model="bol.Year">
            <option value="">Year</option>>
        </select>
        <select id="ddlMonth2" class="form-control" ng-model="bol.Month">
            <option value="">Month</option>
        </select>
        <select id="ddlDay2" class="form-control" ng-model="bol.Day">
            <option value="">Day</option>
        </select>
    </div>-->

</div>
<div class="form-group">
    <label for="IncoTermID" data-i18n="_DeliveryTerm_"></label>
    <select id="IncoTermID" class="form-control" ng-model="formData.ImportExport.IncoTermID">
        <option ng-repeat="incoTerm in valuesData.IncoTerms" value="{{incoTerm.ID}}">
            {{ incoTerm.IncoName }}
        </option>
    </select>
</div>
<!--<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="dashboard.imports.add.carrier" class="btn btn-block btn-lg">
            Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>-->


