<section ui-view>
    <ul class="nav nav-tabs">
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="dashboard" data-i18n="_ShipmentsOnVoyage_"></a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="dashboard.customsclearance" data-i18n="_AwaitingCustomsClearance_"></a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="dashboard.customsdispatch" data-i18n="_AwaitingDispatch_"></a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="dashboard.customsinspection" data-i18n="_AwaitingCustomsInspection_"></a>
        </li>
    </ul>

    <h3 data-i18n="_ShipmentsOnVoyage_"></h3>
    <p data-i18n="_ShipmentsOnVoyageSub2_"></p>
    <div class="form-inline">
        <input type="search" class="form-control" data-ng-model="searchText" data-i18n-attr="_Search_|placeholder" />
        <button type="button" class="btn btn-primary"
                ng-click="getOnVoyageImports()">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
    </div>
    <hr />
    <div>
        <div data-table="table-svr">
            <table class="table table-responsive" data-ng-show="onVoyageImports.length > 0">
                <thead>
                    <tr>
                        <th></th>
                        <th class="table-header" ng-click="sortData('BoL')">
                            <div class="inline-block">BoL <span ng-class="getSortClass('BoL')"></span></div>
                        </th>
                        <th class="table-header" ng-click="sortData('BoLDate')">
                            <div class="inline-block">BoL Date <span ng-class="getSortClass('BoLDate')"></span></div>
                        </th>
                        <th class="table-header" ng-click="sortData('Expected')">
                            <div class="inline-block">Expected <span ng-class="getSortClass('Expected')"></span></div>
                        </th>
                        <th class="table-header" ng-click="sortData('OnVoyage')">
                            <div class="inline-block">On Voyage <span ng-class="getSortClass('OnVoyage')"></span></div>
                        </th>
                        <th class="table-header" ng-click="sortData('Description')">
                            <div class="inline-block">Description <span ng-class="getSortClass('Description')"></span></div>
                        </th>
                        <th class="table-header" ng-click="sortData('Cargo')">
                            <div class="inline-block">Cargo <span ng-class="getSortClass('Cargo')"></span></div>
                        </th>
                        <th class="table-header" ng-click="sortData('SubCargo')">
                            <div class="inline-block">Sub Cargo <span ng-class="getSortClass('SubCargo')"></span></div>
                        </th>
                        <th class="table-header" ng-click="sortData('Agent')">
                            <div class="inline-block">Agent <span ng-class="getSortClass('Agent')"></span></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="r in onVoyageImports | orderBy: sortColumn: reverseSort | filter : searchText">
                        <td>
                            <a href="" ng-click="initDischarged(r.ImportExportID, r.BoL)">
                                <span class="glyphicon glyphicon-hand-right"></span>
                            </a>
                            <a href="">
                                <span class="glyphicon glyphicon-alert"></span>
                            </a>
                        </td>
                        <td>{{r.BoL}}</td>
                        <td>{{r.BoLDate | date : "yyyy-MM-dd"}}</td>
                        <td>{{r.Expected | date : "yyyy-MM-dd"}}</td>
                        <td>{{r.OnVoyage | date : "yyyy-MM-dd"}}</td>
                        <td>{{r.Description}}</td>
                        <td>{{r.Cargo}}</td>
                        <td>{{r.SubCargo}}</td>
                        <td>{{r.Agent}} {{r.Phone}} {{r.Email}} {{r.Company}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h1 data-ng-hide="onVoyageImports.length > 0" class="text-center" data-i18n="_NoDocument_"></h1>
    </div>
</section>
<section class="fullscreen" ng-show="importSelected">
    <div class="col-md-6 col-md-offset-3">
        <div id="form-container">
            <div class="page-header text-center">
                <h2 data-i18n="_CustomsClearing_"></h2>
            </div>
            <div class="text-center bg-color-white">
                <article>
                    <p class="margin-top-15">
                        <br />
                        <span data-i18n="{{message}}"></span> <strong>{{cc.Bol}}</strong>?
                        <br />
                        <br />
                    </p>

                    <button type="button" class="btn btn-primary btn-lg" ng-show="isDischarged" data-ng-click="customsDischarged()"
                            data-i18n="_Submit_"></button>
                    <button type="button" class="btn btn-primary btn-lg" ng-show="isCleared" data-ng-click="customsCleared()"
                            data-i18n="_Submit_"></button>
                    <button type="button" class="btn btn-primary btn-lg" ng-show="isInspected" data-ng-click="customsInspected()"
                            data-i18n="_Submit_"></button>
                    <button type="button" class="btn btn-primary btn-lg" ng-show="isDispatched" data-ng-click="customsDispatched()"
                            data-i18n="_Submit_"></button>
                    <button type="button" class="btn btn-primary btn-lg" data-ng-click="importSelected=false"
                            data-i18n="_Close_"></button>
                    <br />
                    <br />
                </article>
            </div>
        </div>
    </div>
</section>
<section class="fullscreen" ng-show="alertSuccess">
    <div class="col-md-6 col-md-offset-3">
        <div id="form-container">
            <div class="page-header text-center">
                <h2 data-i18n="_Success_"></h2>
            </div>
            <div class="text-center bg-color-white">
                <article>
                    <p class="margin-top-15">
                        <br />
                        <span class="glyphicon glyphicon-heart font-3-0em"></span>
                        <br />
                        <span data-i18n="_SuccessUpdate_"></span>
                        <br />
                        <br />
                    </p>

                    <button type="button" class="btn btn-primary btn-lg" data-ng-click="alertSuccess=false"
                            data-i18n="_Close_"></button>
                    <br />
                    <br />
                </article>
            </div>
        </div>
    </div>
</section>
