<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
    <base href="/" />
    <title>CargoCanal &bull; Freight forwarding in hand.</title>
    <meta charset="utf-8" />
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#40437B">

    <meta name="description" content="CargoCanal allows freight forwarders to save their cargo activity in the cloud and collaborate with team members and their Maritime Authority." />
    <meta name="author" content="Appliedline.com" />
    <meta name="keywords" content="appliedline, ethiopia, africa, maritime, ethiopian maritime, freight, forwarders, cargo, cargo movement, emaa" />

    <meta name="google-site-verification" content="_RwKmqRL48LQ05mdYEYX8zx8gFSVUftURTpn-ghQjOY" />
    <meta name="google-site-verification" content="EjQd7GF5A1fau7sJd1yXDI84Ks9_EDMAVGeJYaOZd2A" />
    <meta property="og:url" content="https://cargocanal.com">
    <meta property="og:site_name" content="CargoCanal">
    <meta property="og:title" content="Freight forwarding in hand">
    <meta property="og:description" content="CargoCanal allows freight forwarders to save their cargo activity in the cloud and collaborate with team members and their Maritime Authority.">
    <meta property="og:image" content="https://cargocanal.com/assets/images/cargocanal_logo_1080_transparent.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1080">
    <meta property="og:image:height" content="1080">

    <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0" />
    <meta http-equiv="expires" content="Fri, 24 Feb 2017 00:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


    <link rel="shortcut icon" type="image/x-icon" href="favicon.png?build=2.4.474" />
    <link href="src/assets/css/style-bundle.min.css?build=2.4.474" rel="stylesheet" />
    <link href="src/assets/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet" />
    <!--<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103034381-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-103034381-2');
    </script>


    <!-- JSON-LD -->
    <script type="application/ld+json">
        {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Appliedline",
        "description": "Appliedline is an IT company specialized in software development.",
        "url": "https://appliedline.com",
        "foundingDate": "2015-03-13",
        "logo": "https://appliedline.com/assets/global/images/appliedline_logo.png",
        "duns": "561230395",
        "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+251-90-414-9609",
        "contactType": "Customer service"
        },
        "parentOrganization": {
        "name": "AA Advanced Information Technology PLC"
        },
        "sameAs": [
        "http://www.linkedin.com/company/appliedline",
        "http://twitter.com/appliedline"
        ],
        "owns": {
        "@context": "http://schema.org",
        "@type": "SoftwareApplication",
        "name": "CargoCanal",
        "operatingSystem": "ANDROID",
        "applicationCategory": "http://schema.org/BusinessApplication",
        "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "5",
        "ratingCount": "2"
        },
        "offers": {
        "@type": "Offer",
        "price": "0",
        "priceCurrency": "USD"
        }
        }
        }
    </script>

</head>
<body ng-controller="mainCtrl" ng-class="modalOpenClass()">
    <dir-menu-top></dir-menu-top>

    <div class="container">

        <section ui-view class="main-body"></section>

        <!-- displays the loading window -->
        <loader></loader>


        <!-- SUBSCRIPTION NOTICE START -->
        <div class="modal fade" id="modalSubscriptionAlert" tabindex="-1" role="dialog" aria-labelledby="modalSubscriptionAlertTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalSubscriptionAlertTitle">
                            {{subscriptionExpiryDays <= 0? 'Subscription Expired' : 'Subscription Expiring Soon'}}
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Your <span class="font-bold-600">Free Subscription</span> ({{User.Company.Subscription[0].SubscriptionName}})
                            <span ng-if="subscriptionExpiryDays>0">ends in {{subscriptionExpiryDays}} days</span><span ng-if="subscriptionExpiryDays <=0">ended {{subscriptionExpiryDays}} days ago</span>
                            on {{User.Company.Subscription[0].ExpiryDate | date:'MMMM dd, yyyy'}}
                        </p>
                        <!--<p><span class="font-bold-600">Free Subscription</span> ends March 31<sup>st</sup> 2019.</p>-->

                        <h3 class="font-bold-600">What does this mean?</h3>
                        <p>
                            Starting {{dateIncrement(User.Company.Subscription[0].ExpiryDate, 1) | date:'MMMM dd, yyyy'}}, your company will need to have a <span class="font-bold-600">Paid Subscription</span> to access the service.
                        </p>
                        <p>
                            We understand the notice is short, hence, as a compliment, we would extend your payment due date for the
                            <span class="font-bold-600">Subscription</span> ({{User.Company.Subscription[0].SubscriptionName}}) for extra 30 days,
                            giving you extra time until {{dateIncrement(User.Company.Subscription[0].ExpiryDate, 30) | date:'MMMM dd, yyyy'}} to make payment.
                        </p>

                        <h3 class="font-bold-600">What do I need to do?</h3>
                        <p>
                            Proceed to <a>pay for a {{User.Company.Subscription[0].RenewalCycle}} {{User.Company.Subscription[0].SubscriptionName}} subscription</a> to avoid disruption of service.
                        </p>

                        <h3 class="font-bold-600">How do I pay?</h3>
                        <p>
                            To make payments, you need to do the following:
                        </p>
                        <ol>
                            <li>
                                Go to Cooperative Bank of Oromia and make a deposit into the account below.
                                <ul>
                                    <li>Account Name: AA ADVANCED INFORMATION TECHNOLOGY PLC</li>
                                    <li>Account Number: 1000053563256</li>
                                    <li>Amount: {{User.Company.Subscription[0].Currency}} {{User.Company.Subscription[0].Cost | number}}</li>
                                </ul>
                            </li>
                            <li>
                                Next, you could do one of the following:
                                <ul>
                                    <li>Send a copy of your proof of payment to info@cargocanal.com and also state your company name and TIN number in the email, OR</li>
                                    <li>Visit our office with your proof of payment</li>
                                </ul>
                            </li>
                            <li>
                                Upon receiving your proof of payment, a TAX receipt is generated and issued to you.
                                If you sent your proof of payment by email, you will need to pick up your TAX receipt at our office.
                            </li>
                            <li>
                                Finally, an administrator at our office will activate your Paid Subscription within 24 hours
                                and an automated invoice will be sent to your company's email. Please ensure you company profile is updated
                            </li>
                        </ol>

                        <p>
                            <a ui-sref="account.subscriptions" ng-click="closeSubscritpionAlert()">Click here to view your subscriptions.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- SUBSCRIPTION NOTICE ENDS -->

    </div>
    <footer>
        <div class="row">
            <div class="col-md">
                <small>
                    &copy; 2019 <a href="//appliedline.com" target="_blank" rel="noopener">AA Advanced Information Technology Plc&reg;</a> build=2.4.474
                </small>
            </div>

            <div class="col-md override text-right">
                <small>
                    <a href="mailto:info@cargocanal.com?subject=CargoCanal%20Web%20Request">info@cargocanal.com</a>
                    &bull; <a class="pointer" ui-sref="termsofservice">Terms of Service</a>
                    &bull; <a class="pointer" ui-sref="privacypolicy">Privacy Policy</a>
                </small>
            </div>
        </div>
    </footer>

    <dir-dialog-window></dir-dialog-window>

    <view-session-timeout></view-session-timeout>


    <link href="src/assets/css/style-bundle-defer.min.css?build=2.4.474" rel="stylesheet" />



    <!-- Amharic libraries : jquery-1.7.2 is required -->
    <!--<script src="src/lib/jgeez-jquery.min.js"></script>-->
    <!--EMMON COMMENTS-->
    <script src="src/lib/jquery.utils.min.js?build=2.4.474"></script>
    <script src="src/lib/angulars_and_chartjs.js?build=2.4.474"></script>   
    <!-- format cards dynamically-->
    <script id="cardsjs" src="src/lib/cards.min.js"></script>   
    <!-- format reports with paging -->
    <script async defer src="src/lib/datatables.min.js"></script>
   

</body>
</html>
