<div class="fullscreen" ng-show="consigneeInfo.openWindow">
    <div class="fullscreen-dialog">
        <div class="fullscreen-content">
            <div class="fullscreen-body">

                <section>
                    <div class="modal-heading">
                        <button type="button" class="modal-heading close" aria-label="Close" ng-click="consigneeInfo.closeWindow()">
                            <span class="h1" aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="modal-heading text">Consignee: {{consigneeInfo.data.Consignee.CompanyName}}</h3>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <form name="form" id="form" ng-submit="consigneeInfo.save()">
                                <div class="form-group">
                                    <label for="ConsigneeTIN" class="control-label">Consignee's TIN</label>
                                    <input name="ConsigneeTIN" type="text" class="form-control" placeholder="Consignee's TIN"
                                           ng-model="consigneeInfo.data.Consignee.TIN" />
                                </div>
                                <div class="form-group">
                                    <label for="LCNumber" class="control-label">LC/ Export Permission #</label>
                                    <input name="LCNumber" type="text" class="form-control" placeholder="LC Number"
                                           ng-model="consigneeInfo.data.LC.LCNumber" />
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default btn-block btn-lg">Save</button>
                                </div>
                            </form>

                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div>
                                <label class="color-theme">Consignee Name</label>
                                <p>&bull; {{consigneeInfo.data.Consignee.CompanyName}}</p>
                                <label class="color-theme">TIN</label>
                                <p>&bull; {{consigneeInfo.data.Consignee.TIN}}</p>
                                <label class="color-theme">Contact</label>
                                <p>&bull; {{consigneeInfo.data.Consignee.ContactName}}</p>
                                <label class="color-theme">Mobile</label>
                                <p>&bull; {{consigneeInfo.data.Consignee.ContactMobile}}</p>
                                <label class="color-theme">Email</label>
                                <p>&bull; {{consigneeInfo.data.Consignee.Email}}</p>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>
</div>