<div class="fullscreen" ng-show="status.openWindow">
    <div class="fullscreen-dialog">
        <div class="fullscreen-content">
            <div class="fullscreen-body">

                <section>
                    <div class="modal-heading">
                        <button type="button" class="modal-heading close" aria-label="Close" ng-click="status.closeWindow()">
                            <span class="h1" aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="modal-heading text">
                            Statuses
                            <span ng-if="status.importExport.Bill">for {{status.importExport.Bill}}</span>
                            <span ng-if="status.importExport.WayBill">for {{status.importExport.WayBill}}</span>
                        </h3>
                    </div>
                    
                    <section>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-default"
                                        ng-click="status.add()"
                                        ng-hide="isNotFF || status.importExport.Completed || status.importExport.Terminated">
                                    Add Status
                                </button>
                            </div>
                        </div>
                        <hr />

                        <form name="formstatus" class="row insert-box" ng-show="status.showFilters" novalidate>
                            <div class=col-sm-4>
                                <div class="form-group">
                                    <label for="Status">Status</label>
                                    <select id="Status" name="Status" class="form-control" ng-options="st.Description for st in statuses | statusavail:impExpType" ng-model="status.newStatus.StatusID" required></select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="StatusDate">Status Date</label>
                                    <div class="form-group">
                                        <div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <dir-datepicker dt="status.newStatus.StatusDate" required></dir-datepicker>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="Location">Status Location</label>
                                    <select id="Location" name="Location" class="form-control" ng-model="status.newStatus.LocationID">
                                        <option value="0">----None----</option>
                                        <option ng-repeat="loc in locations" value="{{loc.ID}}">{{loc.LocationName}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" ng-click="status.save()" ng-disabled="formstatus.$invalid">Save</button>
                                    <button type="reset" class="btn btn-default" ng-click="status.hideFilters()">Cancel</button>
                                </div>
                                <p class="text-danger" ng-class="fade-out">{{status.message}}</p>
                            </div>
                        </form>
                    </section>
                    
                    <div class="row position-relative" ng-repeat="s in status.data">
                        <div class="col-xs-1">
                            <button type="button" class="close" aria-label="Close" title="Delete"
                                    ng-click="status.delete(s.ID)" 
                                    ng-if="status.data.length > 1 && $index === 0 && !(isNotFF || status.importExport.Completed || status.importExport.Terminated)">
                                <span class="h2" aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="col-xs-11">
                            <div class="col-xs-12 col-sm-8 padding-left-0">
                                <h5>{{s.StatusText}}</h5>
                                <h5 ng-if="s.Location !==''"><span class="glyphicon glyphicon-map-marker"></span> {{s.Location}}</h5>
                            </div>
                            <div class="col-xs-12 col-sm-4 mobile-anchor-right">
                                <h5 class="float-right"><!--<span class="common-sprite calendar-16"></span>--> {{s.StatusDate | date : 'dd MMM yyyy'}}</h5>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>