<div class="overflow-auto margin-bottom-15">
    <p class="pull-left">Showing {{tinOrLcData.length}} records</p>
    <button type="button" class="btn btn-primary pull-right" ng-click="getImportExportByTinOrLc()">More Records &raquo;</button>
</div>

<div class="card slide-up" ng-repeat="d in tinOrLcData">
    <section class="card-options">
        <aside class="card-options-btn"></aside>
        <article class="card-options-content">
            <div class="card-options-more-btn common-sprite fullscreen_black_24" ng-click="optionsMore.show(d, $index)"></div>
            <div class="square-wrapper" ng-if="d.ImpExpTypeID == 1" ng-click="preview.import.show(d)">
                <div class="square-img-wr">
                    <span class="card-option icon">
                        <span class="common-sprite container-32"></span>
                        <i class="badge icon-data">{{d.Items.length}}</i>
                    </span>
                </div>
                <p class="square-text" data-i18n="_Preview_">Preview</p>
            </div>
            <div class="square-wrapper" ng-if="d.ImpExpTypeID == 2" ng-click="preview.export.show(d)">
                <div class="square-img-wr">
                    <span class="card-option icon">
                        <span class="common-sprite container-32"></span>
                        <i class="badge icon-data">{{d.Items.length}}</i>
                    </span>
                </div>
                <p class="square-text" data-i18n="_Preview_">Preview</p>
            </div>

            <div class="square-wrapper" ng-click="status.getStatuses(d)">
                <div class="square-img-wr">
                    <span class="card-option icon">
                        <span class="common-sprite bell-32"></span>
                        <i class="badge icon-data">i</i>
                    </span>
                </div>
                <p class="square-text" data-i18n="_Statuses_"></p>
            </div>

            <div class="square-wrapper" ng-click="problem.getProblems(d)">
                <div class="square-img-wr">
                    <span class="card-option icon">
                        <span class="common-sprite fire-32"></span>
                        <i ng-class="{'badge icon-data bg-color-red': d.ProblemsUnresolved, 'badge icon-data': !d.ProblemsUnresolved}">{{d.ProblemsUnresolved}}</i>
                    </span>
                </div>
                <p class="square-text" data-i18n="_Problems_"></p>
            </div>

            <div class="square-wrapper" ng-click="commentInit(d.ID)">
                <div class="square-img-wr">
                    <span class="card-option icon">
                        <span class="common-sprite comment-32"></span>
                    </span>
                </div>
                <p class="square-text" data-i18n="_Comments_"></p>
            </div>

            <div ng-hide="isNotFF" class="square-wrapper" ng-click="consigneeInfo.show(d)">
                <div class="square-img-wr">
                    <span class="card-option icon">
                        <span class="common-sprite user-32"></span>
                    </span>
                </div>
                <p class="square-text" data-i18n="_Consignee_"></p>
            </div>

            <div ng-hide="isNotFF" class="square-wrapper" ng-click="costInfo.show(d, $parent.$index, $index)">
                <div class="square-img-wr">
                    <span class="card-option icon">
                        <span class="common-sprite money-32"></span>
                    </span>
                </div>
                <p class="square-text" data-i18n="_Cost_"></p>
            </div>

            <div ng-hide="isNotFF" class="square-wrapper" ng-click="markAsDone(d, $parent.$index, $index)">
                <div class="square-img-wr">
                    <span class="card-option icon">
                        <span class="common-sprite done-32"></span>
                    </span>
                </div>
                <p class="square-text" data-i18n="_Done_"></p>
            </div>

            <div ng-hide="isNotFF" class="square-wrapper" ng-click="terminateImportExport(d, $parent.$index, $index)">
                <div class="square-img-wr">
                    <span class="card-option icon">
                        <span class="common-sprite trash-32"></span>
                    </span>
                </div>
                <p class="square-text" data-i18n="_Recycle_">Recycle</p>
            </div>


        </article>
    </section>

    <aside class="card-logo" ng-class="{iecompleted: d.Completed, ieterminated: d.Terminated}">
        <div class="logo" ng-class="getMotIcon(d.MOT)"></div>
    </aside>
    <article class="row card-content">
        <div class="col-sm-5">
            <h3 ng-bind="d.Bill" class="font-bold-600" ng-if="d.ImpExpTypeID == 1"></h3>
            <h3 ng-bind="d.WayBill" class="font-bold-600" ng-if="d.ImpExpTypeID == 2"></h3>
            <h6>{{d.DateInserted | date: 'MMMM dd, yyyy'}} &bull; LC/EP #: {{d.LC.LCNumber}}</h6>
        </div>
        <div class="col-sm-7">
            <h5>{{d.Consignee.CompanyName}} &bull; {{d.Consignee.TIN}}</h5>
            <h6 class="font-bold text-ellipsis" ng-if="d.Carrier">{{d.Carrier}}, {{d.Vessel}}</h6>
            <h6 class="font-bold text-ellipsis" ng-if="!d.Carrier">TRUCK CARRIER</h6>
            <h6 class="font-bold text-ellipsis" ng-if="d.ImpExpTypeID == 1">{{d.PortOfDischarge}} <span class="oi oi-arrow-thick-left"></span> {{d.PortOfLoading}}</h6>
            <h6 class="font-bold text-ellipsis" ng-if="d.ImpExpTypeID == 2">{{d.PortOfLoading}} <span class="oi oi-arrow-thick-right"></span> {{d.PortOfDischarge}}</h6>
        </div>
    </article>
</div>

<div class="overflow-auto margin-top-15" ng-hide="tinOrLcData.length === 0 || tinOrLcData === null || tinOrLcData === undefined">
    <p class="pull-left">Showing {{tinOrLcData.length}} records</p>
    <button type="button" class="btn btn-primary pull-right" ng-click="getImportExportByTinOrLc()">More Records &raquo;</button>
</div>

<dir-options-mobile-window></dir-options-mobile-window>
<dir-comment></dir-comment>

<!-- Export bill view -->
<dir-export-bill-preview></dir-export-bill-preview>
<!-- Import bill view -->
<dir-import-bill-preview></dir-import-bill-preview>
<!-- Statues view -->
<dir-status-update-view></dir-status-update-view>
<!-- Problems view -->
<dir-problem-update-view></dir-problem-update-view>
