<section ui-view>
    <section class="col-sm-6 login-side-info color-theme">
        <blockquote>
            <h3 class="font-bold-600">
                Good thing we are here to help your remember.
            </h3>
        </blockquote>

    </section>
    <section class="login-box">
        <div class="login-logo">
            <i class="common-sprite cargocanal_text_64"></i>
        </div>

        <form name="form" ng-submit="passwordReset.changePassword()" novalidate>
            <h4 class="margin-bottom-30">You're almost in your account</h4>

            <div class="form-group">
                <input name="Password" type="password" class="form-control" autocomplete="new-password"
                       placeholder="Password"
                       ng-model="passwordReset.data.Password"
                       ng-change="validatePassword(passwordReset.data.Password, form.Password)" required />
                <h6 class="text-danger" ng-show="form.Password.$touched && form.Password.$invalid"
                    ng-hide="form.Password.$untouched || form.Password.$valid">
                    Requires 6-32 characters containing a number, lowercase, uppercase and special character such as !"#$%&'()*+,\-./:=?@^
                </h6>
            </div>
            <div class="form-group">
                <input name="CPassword" type="password" class="form-control"
                       placeholder="Confirm Password"
                       ng-model="passwordReset.data.CPassword" required />
                <h6 class="text-danger" ng-show="(form.CPassword.$touched && form.CPassword.$invalid) || passwordReset.data.Password !== passwordReset.data.CPassword">
                    Password mismatch.
                </h6>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block btn-lg"
                        ng-disabled="form.$invalid || form.Password.$invalid || passwordReset.data.Password !== passwordReset.data.CPassword">
                    Change Password
                </button>
            </div>
            <div class="login-footer margin-top-30">
                <small>This link may no longer exist by the time you hit the button.</small>
            </div>
        </form>
    </section>
</section>
