<div class="form-group">
    <label for="email" data-i18n="_Email_"></label>
    <input type="email" class="form-control" id="email" ng-disabled="true"
            ng-model="formData.Login.UserName" />
</div>
<div class="form-group">
    <label for="password" data-i18n="_Password_"></label>
    <input type="password" class="form-control" id="password" ng-model="formData.Login.Password" />
</div>
<div class="form-group">
    <label for="confirmPassword" data-i18n="_ConfirmPassword_"></label>
    <input type="password" class="form-control" id="confirmPassword" ng-model="confirmpw" />
</div>

    