<div class="form-group">
    <label for="FirstName" data-i18n="_FirstName_"></label>
    <input type="text" class="form-control" id="FirstName" 
           data-ng-model="formData.Person.FirstName" />
</div>
<div class="form-group">
    <label for="MiddleName" data-i18n="_MiddleName_"></label>
    <input type="text" class="form-control" id="MiddleName" 
           data-ng-model="formData.Person.MiddleName" />
</div>
<div class="form-group">
    <label for="LastName" data-i18n="_LastName_"></label>
    <input type="text" class="form-control" id="LastName" 
           data-ng-model="formData.Person.LastName" />
</div>

<div class="form-group">
    <label for="Phone" data-i18n="_Phone_"></label>
    <input type="text" class="form-control" id="Phone"
           data-ng-model="formData.Person.Phone" />
</div>
<div class="form-group">
    <label for="Email" data-i18n="_Email_"></label>
    <input type="text" pattern="[a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z]{2,}" 
           class="form-control" id="Email" data-ng-model="formData.Person.Email" />
</div>