/*
This is an example of how to use the image sprite in your own CSS files
*/
.common-sprite {
	background-image: url('common-sprite.sprite.png');
	background-repeat: no-repeat;
	display: inline-block;
}
.common-sprite.airplane-24 {
	width: 24px;
	height: 24px;
	background-position: -10px -10px;
}
.common-sprite.airplane-32 {
	width: 32px;
	height: 32px;
	background-position: -10px -44px;
}
.common-sprite.bell-24 {
	width: 24px;
	height: 24px;
	background-position: -10px -86px;
}
.common-sprite.bell-32 {
	width: 32px;
	height: 32px;
	background-position: -10px -120px;
}
.common-sprite.calendar-16 {
	width: 16px;
	height: 16px;
	background-position: -10px -162px;
}
.common-sprite.calendar-24 {
	width: 24px;
	height: 24px;
	background-position: -10px -188px;
}
.common-sprite.calendar-32 {
	width: 32px;
	height: 32px;
	background-position: -10px -222px;
}
.common-sprite.container-24 {
	width: 24px;
	height: 24px;
	background-position: -10px -264px;
}
.common-sprite.container-32 {
	width: 32px;
	height: 32px;
	background-position: -10px -298px;
}
.common-sprite.fire-24 {
	width: 24px;
	height: 24px;
	background-position: -10px -340px;
}
.common-sprite.fire-32 {
	width: 32px;
	height: 32px;
	background-position: -10px -374px;
}
.common-sprite.pipe-24 {
	width: 24px;
	height: 24px;
	background-position: -10px -416px;
}
.common-sprite.pipe-32 {
	width: 32px;
	height: 32px;
	background-position: -10px -450px;
}
.common-sprite.railway-24 {
	width: 24px;
	height: 24px;
	background-position: -10px -492px;
}
.common-sprite.railway-32 {
	width: 32px;
	height: 32px;
	background-position: -10px -526px;
}
.common-sprite.ship-24 {
	width: 24px;
	height: 24px;
	background-position: -10px -568px;
}
.common-sprite.ship-32 {
	width: 32px;
	height: 32px;
	background-position: -10px -602px;
}
.common-sprite.truck-24 {
	width: 24px;
	height: 24px;
	background-position: -10px -644px;
}
.common-sprite.truck-32 {
	width: 32px;
	height: 32px;
	background-position: -10px -678px;
}
.common-sprite.comment-32 {
	width: 32px;
	height: 32px;
	background-position: -10px -720px;
}
.common-sprite.user-16 {
	width: 16px;
	height: 16px;
	background-position: -10px -762px;
}
.common-sprite.user-24 {
	width: 24px;
	height: 24px;
	background-position: -10px -788px;
}
.common-sprite.user-32 {
	width: 32px;
	height: 32px;
	background-position: -10px -822px;
}
.common-sprite.user-64 {
	width: 64px;
	height: 64px;
	background-position: -10px -864px;
}
.common-sprite.user-128 {
	width: 128px;
	height: 128px;
	background-position: -10px -938px;
}
.common-sprite.done-32 {
	width: 32px;
	height: 32px;
	background-position: -10px -1076px;
}
.common-sprite.money-32 {
	width: 32px;
	height: 32px;
	background-position: -10px -1118px;
}
.common-sprite.trash-32 {
	width: 32px;
	height: 32px;
	background-position: -10px -1160px;
}
.common-sprite.people {
	width: 100px;
	height: 100px;
	background-position: -10px -1202px;
}
.common-sprite.caret_white_l_16 {
	width: 16px;
	height: 16px;
	background-position: -10px -1312px;
}
.common-sprite.caret_white_r_16 {
	width: 16px;
	height: 16px;
	background-position: -10px -1338px;
}
.common-sprite.fullscreen_black_24 {
	width: 24px;
	height: 24px;
	background-position: -10px -1364px;
}
.common-sprite.fullscreen_black_32 {
	width: 32px;
	height: 32px;
	background-position: -10px -1398px;
}
.common-sprite.appliedline_32 {
	width: 32px;
	height: 32px;
	background-position: -10px -1440px;
}
.common-sprite.appliedline_64 {
	width: 64px;
	height: 64px;
	background-position: -10px -1482px;
}
.common-sprite.cargocanal_32 {
	width: 32px;
	height: 32px;
	background-position: -10px -1556px;
}
.common-sprite.cargocanal_64 {
	width: 64px;
	height: 64px;
	background-position: -10px -1598px;
}
.common-sprite.cargocanal_text_32 {
	width: 96px;
	height: 32px;
	background-position: -10px -1672px;
}
.common-sprite.cargocanal_text_64 {
	width: 192px;
	height: 64px;
	background-position: -10px -1714px;
}
.common-sprite.cargocanal_text_128 {
	width: 383px;
	height: 128px;
	background-position: -10px -1788px;
}
.common-sprite.google-play-badge-h60 {
	width: 155px;
	height: 60px;
	background-position: -10px -1926px;
}
.common-sprite.app_store_badge_US_h60 {
	width: 155px;
	height: 60px;
	background-position: -10px -1996px;
}
