<div ui-view>
    <div class="toolbox">
        <div class="form-inline">
            <form class="form-group" ng-submit="searchUniModal(true)">
                <div class="control-group">
                    <input class="control-group-textbox" type="search" placeholder="Search" ng-model="searchText" />
                    <i class="control-group-button" ng-click="searchUniModal(true)"><span class="oi oi-magnifying-glass"></span></i>
                </div>
            </form>
            <a ui-sref="unimodal.create" ng-click="initUniModal()"><span class="oi oi-plus"></span>Add UniModal</a>
            <a href="" ng-click="refresh()"><span class="oi oi-reload"></span> Refresh</a>
        </div>
    </div>
    <dir-uni-modal></dir-uni-modal>
</div>